<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header" style="margin-left:5px">
      <div class="nav-title">
        <img src="assets/img/car-logo.png" style="width:50px;">
        CHECK<span style="font-size: 15px;">MY</span>CAR <!--<span style="font-size: 10px; margin-left: 5px;">By Nico Didonna</span>-->
      </div>
    </div>
    <div class="nav-btn" style="margin-right:5px">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    
    <div class="nav-links">
      <a href="//github.io/jo_geek" target="_blank">Le tue Auto</a>
      <a href="http://stackoverflow.com/users/4084003/" target="_blank">Tagliandi</a>
      <a href="https://in.linkedin.com/in/jonesvinothjoseph" target="_blank">Revisioni</a>
      <a href="https://codepen.io/jo_Geek/" target="_blank">Assicurazione</a>
      <a href="https://jsfiddle.net/user/jo_Geek/" target="_blank">Manutenzione Straordinaria</a>
    </div>
  </div>