<footer>
    <div class="footer-content">
        <div><span style="font-size: 35px;">CheckMyCar</span><span style="margin-left:5px; font-size: 13px;">By Nico Didonna</span></div>
        <p>Piattaforma software web-based per la gestione della manutenzione ordinaria e straordinaria delle proprie autovetture.</p>
        <ul class="socials">
            <li><a href="https://www.facebook.com/nico.didonna1" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/nico_didonna" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="mailto:nico_didonna@yahoo.it"><i class="fa fa-envelope"></i></a></li>
            <li><a href="https://github.com/nicodidonna" target="_blank"><i class="fa fa-github"></i></a></li>
            <li><a href="https://it.linkedin.com/in/nico-didonna" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2022 <a href="https://nicodidonna-webdeveloper.web.app/" target="_blank">NicoDidonna_Developer</a></p>
    </div>

</footer>
