<div class="container" style="margin-top: 15px; margin-bottom:15px">
    
    <div class="main-title">
        <h1 class="text-center" >IL TUO PARCO AUTO</h1>
    </div>

    <details>
        <summary>
          <div class="modal-button" style="margin-top:20px;">
            Aggiungi nuova auto 
          </div>
          <div class="details-modal-overlay"></div>
        </summary>
        <div class="details-modal">
          <div class="details-modal-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7071 1.70711C14.0976 1.31658 14.0976 0.683417 13.7071 0.292893C13.3166 -0.0976311 12.6834 -0.0976311 12.2929 0.292893L7 5.58579L1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L5.58579 7L0.292893 12.2929C-0.0976311 12.6834 -0.0976311 13.3166 0.292893 13.7071C0.683417 14.0976 1.31658 14.0976 1.70711 13.7071L7 8.41421L12.2929 13.7071C12.6834 14.0976 13.3166 14.0976 13.7071 13.7071C14.0976 13.3166 14.0976 12.6834 13.7071 12.2929L8.41421 7L13.7071 1.70711Z" fill="black" />
            </svg>
          </div>
          <div class="details-modal-title">
            <h1>Compila il form per aggiungere un'auto</h1>
          </div>
          <div class="details-modal-content">
            
            <form [formGroup]="form">

              <div class="row">

                <div class="col-lg-4 col-sm-6" style="margin-top:10px; margin-bottom:10px">
              <div class="input-form">
              <label for="marca"><b>Casa Automobilistica</b></label><br>
              <input type="text" id="marca" formControlName="marca">
              </div>
              <div class="input-error" *ngIf="form.get('marca').invalid && (form.get('marca').dirty || form.get('marca').touched)">Campo Obbligatorio - Inserisci almeno 3 caratteri</div>
            </div>

            <div class="col-lg-4 col-sm-6" style="margin-top:10px; margin-bottom:10px">
              <div class="input-form">
              <label for="modello"><b>Modello</b></label><br>
              <input type="text" id="modello" formControlName="modello">
            </div>
            <div class="input-error" *ngIf="form.get('modello').invalid && (form.get('modello').dirty || form.get('modello').touched)">Campo Obbligatorio - Inserisci almeno 3 caratteri</div>
          </div>

          <div class="col-lg-4 col-sm-6" style="margin-top:10px; margin-bottom:10px">
              <div class="input-form">
              <label for="targa"><b>Targa</b></label><br>
              <input type="text" id="targa" formControlName="targa">
            </div>
            <div class="input-error" *ngIf="form.get('targa').invalid && (form.get('targa').dirty || form.get('targa').touched)">Campo Obbligatorio - Inserisci la targa nel giusto formato</div>
          </div>

          </div>
          <div class="row">

            <div class="col-lg-4 col-sm-6" style="margin-top:10px; margin-bottom:10px">
              <div class="input-form">
              <label for="cilindrata"><b>Cilindrata</b></label><br>
              <input type="number" id="cilindrata" formControlName="cilindrata">
            </div>
            <div class="input-error" *ngIf="form.get('cilindrata').invalid && (form.get('cilindrata').dirty || form.get('cilindrata').touched)">Campo obbligatorio - Esempio 1500</div>
            </div>


            <div class="col-lg-4 col-sm-6" style="margin-top:10px; margin-bottom:10px">
              <div class="input-form">
              <label for="cavalli"><b>Numero cavalli</b></label><br>
              <input type="number" id="cavalli" formControlName="cavalli">
            </div>
            <div class="input-error" *ngIf="form.get('cavalli').invalid && (form.get('cavalli').dirty || form.get('cavalli').touched)">Campo obbligatorio</div>
            </div>


            <div class="col-lg-4 col-sm-6" style="margin-top:10px; margin-bottom:10px">
              <div class="input-form">
                <label for="alimentazione"><b>Alimentazione</b></label><br>

                <select name="alimentaizone" id="alimentaizone" formControlName="alimentazione">
                  <option value="Diesel">Diesel</option>
                  <option value="Benzina">Benzina</option>
                  <option value="Elettrica">Elettrica</option>
                  <option value="GPL">GPL</option>
                  <option value="Metano">Metano</option>
                  <option value="Ibrida">Ibrida</option>
                </select>
            </div>
            <div class="input-error" *ngIf="form.get('alimentazione').invalid && (form.get('alimentazione').dirty || form.get('alimentazione').touched)">Campo obbligatorio</div>
            </div>


          </div>
          <div class="row">

            <div class="col-lg-4 col-sm-6" style="margin-top:10px; margin-bottom:10px">
              <div class="input-form">
              <label for="annoImmatricolazione"><b>Anno di Immatricolazione</b></label><br>
              <input type="number" id="annoImmatricolazione" formControlName="annoImmatricolazione">
            </div>
            <div class="input-error" *ngIf="form.get('annoImmatricolazione').invalid && (form.get('annoImmatricolazione').dirty || form.get('annoImmatricolazione').touched)">Campo obbligatorio - L'anno non può essere superiore a quello attuale</div>
          </div>

          </div>

          <button type="button" [disabled]="!form.valid" (click)="aggiungiAuto()">AGGIUNGI AUTO</button>
            </form>

          </div>
        </div>
      </details>
    
    <div class="row">
        
        <div class="card" *ngFor="let auto of this.autoService.listaAuto">
            <div class="title">{{auto.marca.toUpperCase()}} {{auto.modello.toUpperCase()}}</div>
            
            <div class="icon">
                <img src="assets/loghi-auto/{{auto.marca.toLowerCase()}}.png">
            </div><!--/icon-->
            
            <div class="features">
                <ul>
                    <li><b>Numero di Targa:</b> {{auto.targa}}</li>
                    <li><b>Motorizzazione:</b> {{auto.cilindrata}} {{auto.cavalli}}cv - {{auto.alimentazione}}</li>
                    <li><b>Anno di immatricolazione:</b> {{auto.annoImmatricolazione}}</li>
                    <li style="margin-top: 30px;" class="elimina-auto-button" (click)="rimuoviAuto(auto.targa)"><span>ELIMINA AUTO<br><img src="assets/img/delete.png" width="30px"></span></li>
                </ul>
            </div><!--/features-->
        
        </div><!--/card-->
    
    </div>

</div>
