<div class="container" style="margin-top: 15px; margin-bottom:15px">
    
    <!--TITOLO-->
    <div class="main-title">
        <h1 class="text-center">STORICO ASSICURAZIONI</h1>
    </div>
    
    
    <!--MODALE-->
    <details style="margin: 10px;">
        <summary>
            <!--BOTTONE MODALE-->
            <div class="modal-button" style="margin-top:20px;">
                Aggiungi assicurazione
            </div>
            <div class="details-modal-overlay"></div>
        </summary>
        <div class="details-modal">
            <div class="details-modal-close">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7071 1.70711C14.0976 1.31658 14.0976 0.683417 13.7071 0.292893C13.3166 -0.0976311 12.6834 -0.0976311 12.2929 0.292893L7 5.58579L1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L5.58579 7L0.292893 12.2929C-0.0976311 12.6834 -0.0976311 13.3166 0.292893 13.7071C0.683417 14.0976 1.31658 14.0976 1.70711 13.7071L7 8.41421L12.2929 13.7071C12.6834 14.0976 13.3166 14.0976 13.7071 13.7071C14.0976 13.3166 14.0976 12.6834 13.7071 12.2929L8.41421 7L13.7071 1.70711Z" fill="black" />
                </svg>
            </div>
            <!--TITOLO MODALE-->
            <div class="details-modal-title">
                <h1>Compila il form per aggiungere un'assicurazione</h1>
            </div>
            <!--INTERNO MODALE-->
            <div class="details-modal-content">
                
                <form [formGroup]="form">
                    
                    <div class="row">
                        
                        <div class="col-lg-4 col-sm-6" style="margin-top:10px; margin-bottom:10px">
                            <div class="input-form">
                                <label for="agenzia"><b>Agenzia Assicurativa</b></label><br>
                                <input type="text" id="agenzia" formControlName="agenzia">
                            </div>
                            <div class="input-error" *ngIf="form.get('agenzia').invalid && (form.get('agenzia').dirty || form.get('agenzia').touched)">Campo Obbligatorio - Inserisci almeno 3 caratteri</div>
                        </div>
                        
                        
                        <div class="col-lg-4 col-sm-6" style="margin-top:10px; margin-bottom:10px">
                            <div class="input-form">
                                <label for="datainizio"><b>Data inizio Assicurazione</b></label><br>
                                <input type="date" id="datainizio" formControlName="datainizio">
                            </div>
                            <div class="input-error" *ngIf="form.get('datainizio').invalid && (form.get('datainizio').dirty || form.get('datainizio').touched)">Campo Obbligatorio</div>
                        </div>
                        
                        <div class="col-lg-4 col-sm-6" style="margin-top:10px; margin-bottom:10px">
                            <div class="input-form">
                                <label for="datafine"><b>Data fine Assicurazione</b></label><br>
                                <input type="date" id="datafine" formControlName="datafine">
                            </div>
                            <div class="input-error" *ngIf="form.get('datafine').invalid && (form.get('datafine').dirty || form.get('datafine').touched)">Campo Obbligatorio</div>
                        </div>

                    </div>
                    
                    
                    <div class="row">
                        
                        <div class="col-lg-4 col-sm-6" style="margin-top:10px; margin-bottom:10px">
                            <div class="input-form">
                                <label for="prezzo"><b>Prezzo</b></label><br>
                                <input type="number" id="prezzo" formControlName="prezzo">
                            </div>
                            <div class="input-error" *ngIf="form.get('prezzo').invalid && (form.get('prezzo').dirty || form.get('prezzo').touched)">Campo obbligatorio</div>
                        </div>
                        
                        <div class="col-lg-4 col-sm-6" style="margin-top:10px; margin-bottom:10px">
                            <div class="input-form">
                                <label for="auto"><b>Auto</b></label><br>
                                <select name="auto" id="auto" formControlName="auto">
                                    <option *ngFor="let auto of this.listaAuto" [ngValue]="auto.id">{{auto.marca}} {{auto.modello}}</option>
                                </select>
                            </div>
                            <div class="input-error" *ngIf="form.get('auto').invalid && (form.get('auto').dirty || form.get('auto').touched)">Campo obbligatorio</div>
                        </div>
                    
                    </div>
                    
                    
                    <div class="row">

                    </div>
                    
                    <button type="button" (click)="aggiungiAssicurazione()">AGGIUNGI ASSICURAZIONE</button>
                
                </form>
            </div>
        </div>
    </details>


    <app-loading-spinner *ngIf="this.spinner"></app-loading-spinner>
    <div *ngIf="this.listaAuto">
    <!--TITOLO CARD-->
    <div *ngFor="let auto of this.listaAuto">
        <div *ngIf="!auto.hasNotAssicurazioni">
        <h1 style="margin-bottom: 30px">Assicurazioni di: {{auto.marca}} {{auto.modello}}</h1>
        
        <!--CARDS-->
        <section class="light">
            <div class="container py-2">
                
                <div *ngFor="let assicurazione of listaAssicurazioni">
                <article class="postcard light blue" *ngIf="assicurazione.idAuto == auto.id">
                    <div class="postcard__text t-dark">
                        <h1 class="postcard__title blue"><b>Agenzia Assicurativa:</b> {{assicurazione.agenzia}}</h1>
                        <div class="postcard__subtitle small">
                            <img src="assets/img/date-icon.png" style="width:20px;"><time>
                                {{ assicurazione.dataInizioAssicurazione | date: 'dd/MM/yyyy'}}
                            </time>
                        </div>
                        <div class="postcard__bar"></div>
                        <div class="postcard__preview-txt">L'assicurazione scade il: <b>{{assicurazione.dataFineAssicurazione | date: 'dd/MM/yyyy'}}</b></div>
                        <ul class="postcard__tagbox">
                            <li class="tag__item" *ngIf="assicurazione.prezzo"><img src="assets/img/money-icon.png" style="width:20px;"> Prezzo: {{assicurazione.prezzo}}€</li>
                            <li class="tag__item2" (click)="rimuoviAssicurazione(assicurazione.id, auto.id)"><img src="assets/img/delete-icon.png" style="width:20px;"> Cancella assicurazione</li>
                        </ul>
                    </div>
                </article>
                </div>

            </div>
        </section>
    
    </div>
    </div>
    </div>

</div>
