<!--HERO-->
<div class="hero" style="background-image: url('assets/img/home-hero.jpeg');"></div>

<div class="body">
  
  <div class="container">
    
    <!--CARD1-->
    <div class="card">
      <div class="box">
        <div class="content">
          <h2>01</h2>
          <h3>Le tue Auto</h3>
          <p>Visualizza e aggiorna il tuo parco auto</p>
          <a routerLink="/parco-auto">Vai alla pagina</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="box">
        <div class="content">
          <h2>02</h2>
          <h3>Tagliandi</h3>
          <p>Accedi alla lista dei tagliandi effettuati in base all'auto</p>
          <a routerLink="/tagliandi">Visualizza Tagliandi</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="box">
        <div class="content">
          <h2>03</h2>
          <h3>Revisioni</h3>
          <p>Storico delle revisioni effettuate con relative informazioni utili</p>
          <a routerLink="/revisioni">Visualizza Revisioni</a>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="box">
        <div class="content">
          <h2>04</h2>
          <h3>Assicurazione e Bollo</h3>
          <p>Controlla le date di attivazione e scadenza di assicurazione e bollo</p>
          <a routerLink="/assicurazione-bollo">Visualizza stato assicurativo</a>
        </div>
      </div>
    </div>
    
    <div class="card">
      <div class="box">
        <div class="content">
          <h2>05</h2>
          <h3>Manutenzione Straordinaria</h3>
          <p>Annota gli interventi straordinari apportati alle tue vetture</p>
          <a routerLink="/manutenzione-straordinaria">Annota o controlla</a>
        </div>
      </div>
    </div>
  
  </div>

</div>
